In [1]:
import pandas as pd
from datetime import datetime, timedelta

In [2]:
# Membuat dataframe kosong dengan kolom yang sama
data_columns = ["WAKTU", "TAHUN", "BULAN", "PEKAN", "TANGGAL", "HARI", "JAM", 
                "MOTOR", "MOBIL", "TRUK/BUS", "JUMLAH", "SMP_MTR", "SMP_MBL", "SMP_TRK", "SMP"]

In [3]:
# Membuat rentang waktu untuk satu tahun, dimulai dari 1 Januari 2022
start_date = datetime(2022, 1, 1, 0, 0)
end_date = datetime(2022, 12, 31, 23, 45)
date_range = pd.date_range(start=start_date, end=end_date, freq='15T')

In [4]:
# Membuat dataframe dengan tanggal tersebut
data_empty = pd.DataFrame(date_range, columns=["WAKTU"])
data_empty['TAHUN'] = data_empty['WAKTU'].dt.year
data_empty['BULAN'] = data_empty['WAKTU'].dt.month
data_empty['PEKAN'] = data_empty['WAKTU'].apply(lambda x: (x.day - 1) // 7 + 1)
data_empty['TANGGAL'] = data_empty['WAKTU'].dt.day
data_empty['HARI'] = data_empty['WAKTU'].dt.day_name()
data_empty['JAM'] = data_empty['WAKTU'].dt.strftime('%H:%M')

In [5]:
# Menambahkan kolom data yang kosong
for col in ["MOTOR", "MOBIL", "TRUK/BUS", "JUMLAH", "SMP_MTR", "SMP_MBL", "SMP_TRK", "SMP"]:
    data_empty[col] = None

In [6]:
data_empty.head()

,WAKTU,TAHUN,BULAN,PEKAN,TANGGAL,HARI,JAM,MOTOR,MOBIL,TRUK/BUS,JUMLAH,SMP_MTR,SMP_MBL,SMP_TRK,SMP
0,2022-01-01 00:00:00,2022,1,1,1,Saturday,00:00,None,None,None,None,None,None,None,None
1,2022-01-01 00:15:00,2022,1,1,1,Saturday,00:15,None,None,None,None,None,None,None,None
2,2022-01-01 00:30:00,2022,1,1,1,Saturday,00:30,None,None,None,None,None,None,None,None
3,2022-01-01 00:45:00,2022,1,1,1,Saturday,00:45,None,None,None,None,None,None,None,None
4,2022-01-01 01:00:00,2022,1,1,1,Saturday,01:00,None,None,None,None,None,None,None,None

In [ ]:
data_empty.to_excel('../Data/Preprocessing/Data Balonggandu/2022/1_missing_times_balonggandu_2022.xlsx', index=False)