In [1]:
import os
import pandas as pd

In [2]:
def list_files_and_folders(root_folder):
    result = []

    # Walk through the directory structure
    for folder_name, subfolders, filenames in os.walk(root_folder):
        # Get the relative path of the folder
        relative_path = os.path.relpath(folder_name, root_folder)
        # Split the relative path into individual folder components
        path_components = relative_path.split(os.sep)

        for filename in filenames:
            # Create a list with folder names and the file name
            file_info = path_components + [filename]
            
            # Check if the file is an Excel file
            if filename.endswith(('.xlsx', '.xls')):
                file_path = os.path.join(folder_name, filename)
                try:
                    # Read the Excel file and count the sheets
                    excel_file = pd.ExcelFile(file_path)
                    num_sheets = len(excel_file.sheet_names)

                    # Count the total number of rows across all sheets
                    total_rows = 0
                    for sheet_name in excel_file.sheet_names:
                        df = pd.read_excel(excel_file, sheet_name=sheet_name)
                        total_rows += len(df)

                except Exception as e:
                    num_sheets = f"Error: {e}"
                    total_rows = f"Error: {e}"

                # Append the number of sheets and total rows to the file info
                file_info.extend([num_sheets, total_rows])
            else:
                # Append placeholders if the file is not an Excel file
                file_info.extend([None, None])
            
            result.append(file_info)

    return result

def create_dataframe(root_folder):
    files_and_folders = list_files_and_folders(root_folder)

    # Create a DataFrame from the list of files and folders
    df = pd.DataFrame(files_and_folders)

    # Rename columns to indicate the folder levels, file name, number of sheets, and total rows
    num_columns = df.shape[1]
    column_names = [f'Level {i+1}' for i in range(num_columns - 3)] + ['File Name', 'Number of Sheets', 'Total Rows']
    df.columns = column_names

    return df

In [3]:
# Path to the root folder
root_folder = '../DataLHR'

# Create the DataFrame
df = create_dataframe(root_folder)

# Display the DataFrame
print(df)

             Level 1                          Level 2  \
0      Data Losarang                             2024
1      Data Losarang                             2024
2      Data Losarang                             2024
3      Data Losarang                             2024
4      Data Losarang                             2023
..               ...                              ...
252  Data PLATO 2019                         Balai 08
253  Data PLATO 2019                         Balai 08
254  Data PLATO 2019                         Balai 08
255  Data PLATO 2019  Balai Papua Barat (Bukan Plato)
256  Data PLATO 2019  Balai Papua Barat (Bukan Plato)

                                  Level 3                       Level 4  \
0                      04 april_2024.xlsx                            30
1                    01 januari_2024.xlsx                            31
2                   02 februari_2024.xlsx                            29
3                      03 maret_2024.xlsx                            31
4                           03 Maret.xlsx                            14
..                                    ...                           ...
252                                 Jatim  11 Tuban September 2019.xlsx
253                                 Jatim    2 Tuban Desember 2018.xlsx
254                                 Jatim     3 Tuban Januari 2019.xlsx
255    RTC_63_PABAR_2019_PLATO_63010.xlsx                             3
256  RTC_63_PABAR_2019_PLATO_6300112.xlsx                             3

    File Name  Number of Sheets  Total Rows
0        2880               NaN         NaN
1        2974               NaN         NaN
2        2784               NaN         NaN
3        2976               NaN         NaN
4        1435               NaN         NaN
..        ...               ...         ...
252         1            8639.0         NaN
253         1            8824.0         NaN
254         1            8723.0         NaN
255     56280               NaN         NaN
256     53976               NaN         NaN

[257 rows x 7 columns]

In [4]:
df.head(30)

,Level 1,Level 2,Level 3,Level 4,File Name,Number of Sheets,Total Rows
0,Data Losarang,2024,04 april_2024.xlsx,30,2880,NaN,NaN
1,Data Losarang,2024,01 januari_2024.xlsx,31,2974,NaN,NaN
2,Data Losarang,2024,02 februari_2024.xlsx,29,2784,NaN,NaN
3,Data Losarang,2024,03 maret_2024.xlsx,31,2976,NaN,NaN
4,Data Losarang,2023,03 Maret.xlsx,14,1435,NaN,NaN
5,Data Losarang,2023,07 Juli.xlsx,31,3321,NaN,NaN
6,Data Losarang,2023,09 September.xlsx,30,2697,NaN,NaN
7,Data Losarang,2023,08 Agustus.xlsx,31,3296,NaN,NaN
8,Data Losarang,2023,10 Oktober.xlsx,31,2084,NaN,NaN
9,Data Losarang,2023,05 Mei.xlsx,30,2943,NaN,NaN
10,Data Losarang,2023,01 Januari.xlsx,20,2067,NaN,NaN
11,Data Losarang,2023,06 Juni.xlsx,28,2764,NaN,NaN
12,Data Losarang,2023,04 April.xlsx,30,3232,NaN,NaN
13,Data Losarang,2022,12 Desember 2022.xlsx,31,3342,NaN,NaN
14,Data Losarang,2022,02 Februari 2022.xlsx,27,2903,NaN,NaN
15,Data Losarang,2022,06 Juni 2022.xlsx,30,3221,NaN,NaN
16,Data Losarang,2022,04 April 2022.xlsx,10,1077,NaN,NaN
17,Data Losarang,2022,08 Agustus 2022.xlsx,31,3343,NaN,NaN
18,Data Losarang,2022,01 Januari 2022.xlsx,31,3309,NaN,NaN
19,Data Losarang,2022,11 November 2022.xlsx,30,3233,NaN,NaN
20,Data Losarang,2022,07 Juli 2022.xlsx,31,3243,NaN,NaN
21,Data Losarang,2022,09 September 2022.xlsx,30,3230,NaN,NaN
22,Data Losarang,2022,10 Oktober 2022.xlsx,31,3304,NaN,NaN
23,Data Losarang,2022,05 Mei 2022.xlsx,31,3344,NaN,NaN
24,Data Balonggandu,2024,LHR Februari 2024 Balonggandu,LHR 18 FEBRUARI 2024.xlsx,1,24.0,NaN
25,Data Balonggandu,2024,LHR Februari 2024 Balonggandu,LHR 10 FEBRUARI 2024.xlsx,1,24.0,NaN
26,Data Balonggandu,2024,LHR Februari 2024 Balonggandu,LHR 22 FEBRUARI 2024.xlsx,1,24.0,NaN
27,Data Balonggandu,2024,LHR Februari 2024 Balonggandu,LHR 28 FEBRUARI 2024.xlsx,1,16.0,NaN
28,Data Balonggandu,2024,LHR Februari 2024 Balonggandu,LHR 20 FEBRUARI 2024.xlsx,1,24.0,NaN
29,Data Balonggandu,2024,LHR Februari 2024 Balonggandu,LHR 25 FEBRUARI 2024.xlsx,1,24.0,NaN

In [5]:
# determining the name of the file
output_file = '../Preprocessing/datafiles.xlsx'

# saving the excel
df.to_excel(output_file, index=False)
print('DataFrame is written to Excel File successfully.')

DataFrame is written to Excel File successfully.